<div class="sidebar">
  <ul class="article-listing">
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article), class: "new-article" %>
      </li>
    <% end %>
  </ul>
</div>
