<%= render partial: 'sidebar_nav' %>

<section class="section-type-a">
<h1>All Articles</h1>

<ul class="article-listing">
  <%#render partial: 'view_post_only', collection: @articles %>
  <% @articles.each do |article| %>
    <li>
      <% @article = article %>
      <%= render partial: 'articles/view_post_only', object: @article %>
    </li>
  <% end %>
</ul>
<%= link_to "Browse by Tag", tags_path %><br/>
<% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
</div>
