<%= render partial: 'sidebar_nav' %>

<div class="content_object">
<h1>All Articles</h1>

<ul class="article-listing">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
<%= link_to "Browse by Tag", tags_path %><br/>
<% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
</div>
