$primary_color: #5f7caa;
$secondary_color: #b3bdce;
$background_color: #FFF;
$header_height: 70px;
$footer_height: 130px;

html, body {
  background-color: $background_color;
  font-size: 1rem;
  font-family: Bebas,sans-serif;
  text-transform:uppercase;
  padding:0;
  margin:0;
  border: 0;
  position: relative;
  min-height: 100%;
  height: 100%;
}

header {
  background-color: #222;
  height: $header_height;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  min-width: 400px;
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  top:0;
}

footer {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #dcdbff;
  width:100%;
  height: $footer_height;
  overflow-y: hidden;
}

#container{
  padding-top: $header_height;
  padding-bottom: $footer_height + 30px;
  min-height: 100%;
  overflow-y: hidden;
  position: relative;
}

footer li{
list-style: none;
display:inline;
margin: 30px;
}

.footer-link {
  color: #000;
  text-align: center;
  text-decoration: none;
}

.footer-link:hover{
  text-decoration:underline;
}


#login{
  font-size: 16px;
  color: white;
  position:absolute;
  top: 13px;
  right:0;
  vertical-align: bottom;
  margin-right: 10px;
  text-align:right;
}

#login a{
  text-decoration: none;
  color: red;
}

#logo-nav{
  position: absolute;
  top: 18px;
  left: 10px;
  color: red;
}

#header-nav {
  clear:both;
  text-align: center;
  position: relative;
  display: inline-block;
}

#header-nav li {
  margin: 15px;
  display:inline;
}

#header-nav li a{
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

#header-nav li a:hover{
  color: green;
  text-decoration: none;
}

.nav-link{
  color:white;
}

.flash {
  color: black;
  font-size: 16px;
  margin: 0;
}

#content{
text-transform: none;
  max-width: 1080px;
  margin:auto;
}

.section-type-a{
  min-width: 300px;
  max-width: 1080px;
  margin:auto;
  padding: 25px;
  background-color: #EEE;
  //font-size: 30px;
}

.section-type-b{
  min-width: 300px;
  max-width: 1080px;
  margin:auto;
  padding: 25px;
  background-color: #DDD;
}

.sidebar{
  background-color: $secondary_color;
  width: 300px;
  float: right;
  list-style-type: none;
  border: solid 1px black;
  border-radius: 5px;
  clear:right;
  text-transform:none;
}

.tag {
  border-radius: 5px;
  border: black solid 1px;
  background-color: #555;
  text-decoration: none;
  box-shadow: 2px 2px 5px grey;
  color: #CCC;
  padding: 1px 5px;
}

.tag:hover{
  color: #00F;
}

.article-body{
  border: gray solid 1px;
  border-radius: 5px;
  margin: 10px;
  padding:25px 5px;
  text-transform:none;
}

.article-listing{
  list-style-type: none;
}

.time-stamp{
  text-align: right;
  font-style: italic;
  bottom: 0;
  right: 0;
  float: right;
}

.copyright{
  font-size: 14px;
}
